<h1>Formulario de ingreso de productos</h1>
<form action="/productos" method="post" class="my-5 d-flex flex-column">
    <label for="title">Nombre del producto:</label>
    <input type="text" name="title" placeholder="Ingrese el titulo del producto" required class="mb-4">
    <label for="price">Precio del producto:</label>
    <input type="number" name="price" placeholder="Ingrese el precio del producto" required class="mb-4">
    <label for="thumbnail">Thumbnail del producto:</label>
    <input type="text" name="thumbnail" placeholder="Ingrese el el link de la imagen del producto" required class="mb-4">
    <button type="submit" class="btn btn-success"> Enviar producto</button>
</form>

<a href="/productos" class="btn btn-primary"> Ir a la lista de productos</a>